<%= form_with url: "/pings", method: "post",  data: {controller: "ping-form", turbo_action: "advance"} do |form| %>
  <div>
    <%= form.submit "Search",data: {action: "input->ping-form#search"} %>
  </div>
<% end %>
